:root {
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Mulish', sans-serif;

    --white: #FFFFFF;
    --primary: #2FB95D;
    --primary-hover: #259a4b;
    --secondary: #043A3A;
    --fontcolor: #525252;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--font-primary);
}

body {
    font-family: var(--font-secondary), serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin: 2rem;
}

h1 {
    font-size: 4rem;
    color: var(--secondary);
    line-height: 1.2;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    text-align: justify;
    color: var(--fontcolor);
}

.container {
    width: min(90%, 120rem);
    margin: 0 auto;
    width: min(90%, 75rem);
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--primary-hover);
}

/* Contact Page */

#contact {
    font-family: var(--font-primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 20px;
}

/* Left Section */
#txt-span {
    color: var(--primary-hover);
}

#left-section,
#right-section {
    flex: 1 1 100%;
    padding: 20px;
}

#left-section {
    padding: 100px;
    padding-top: 20px;
}

@media(min-width: 768px) {

    #left-section,
    #right-section {
        flex: 1 1 45%;
    }
}

#left-section h1 {
    font-size: 4rem;
}

#left-section p {
    font-size: 1.125rem;
}

#btt-contact {
    margin-top: 210px;
    z-index: 999;
    width: 70%;
    height: 100px;
    color: #fff;
    font-family: var(--font-primary);

    font-size: 2rem;
    border: none;
    background-color: var(--primary);
    border-radius: 50px;
}
